*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
google-services.json
keys.txt
*.jks
*.keystore
vcs.xml
build.gradle
*.apkcd
*.aar
*.ap_
*.aab

bin/
gen/
out/

/_windows
/codestyles
/keymaps
androidStudioFirstRun.xml
baseRefactoring.xml
debugger.xml
editor.codeinsight.xml
editor.xml
find.xml
github.xml
jdk.table.xml
notifications.xml
project.default.xml
studioFlags.xml
updates.xml
usageView.xml
