<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appdav.myperspective">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver
            android:name=".common.receivers.WorkerBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".activities.PeopleGoingActivity" />
        <activity
            android:name=".activities.UsersListActivity"
            android:label="@string/users_list_title" />
        <activity
            android:name=".activities.EditorsRoomActivity"
            android:label="@string/editors_room_title" />
        <activity
            android:name=".activities.InfoActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".common.receivers.NotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".common.receivers.RebootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".common.services.NotificationService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".common.services.UpdateNotificationService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".common.services.RebootService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".activities.CalendarActivity"
            android:label="@string/calendar_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProfileEditorActivity"
            android:label="@string/profile_editor_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProfileViewerActivity"
            android:label="@string/profile_viewer_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.NewEventActivity"
            android:label="@string/new_event_activity_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
    </application>

</manifest>